.container {
    margin: 70px 0 20px 0;
}

.item_header {
    display: flex;
    width: 900px;
    height: 50px;
    margin: 0 auto;
    border: 5px solid rgb(222, 248, 255);
}

.item_header div {
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.item_body {
    display: flex;
    width: 900px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid rgb(222, 248, 255);
}

.item_body div {
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.item_body div button {
    box-sizing: border-box;
    border: 1px #000 solid;
    width: 20px;
    height: 20px;
}

.item_body div input {
    width: 15px;
    text-align: center;
}

.item_body div button:hover {
    background-color: #ddd;
    cursor: pointer;
}

.item_body div a:hover {
    text-decoration: underline;
    color: red;
}

hr {
    width: 1000px;
    margin: 20px auto;
}

table {
    width: 900px;
    margin: 0 auto;
    font-size: 20px;
}

input {
    width: 900px;
}

select {
    width: 900px;
    font-size: 18px;
}

.btn {
    width: 900px;
    margin: 20px auto;
}

#submit {
    float: right;
    width: 100px;
    height: 40px;
    border: 2px #a2e2ff solid;
    font-size: 20px;
    
  }
  
  #submit:hover {
    background-color: #fff;
  }
  