.containers {
    width: 90%;
    margin: 100px auto;
}

.containers h1 {
    margin: 0 20px;
}

.row {
    margin: 50px auto;
}

.goods {
    width: 400px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 10px 50px 10px;
    margin: 10px 10px;
    border: 1px #000 solid;
}

.goods:hover {
    box-shadow: rgb(104, 104, 104) 2px 2px 2px;
}

.picbox {
    position: relative;
}

.pic img {
    width: 380px;
    height: 380px;
    object-fit: cover;
    transition: .3s ease-in-out;
}

.pic:last-child {
    position: absolute;
    top: 0;
}

.pic:last-child:hover {
    opacity: 0;
}

.goods h3 {
    margin: 20px 0 10px;
    text-align: center;
}

.goods p {
    font-size: 20px;
    text-align: center;
}