body {
    background-image: url(../images/plantbg2.jpg);
    background-repeat: repeat;
    overflow: hidden;
    font-size: 21px;

}

.container {
    position: relative;
    margin: auto;
    text-align: center;
    background-color: #FFF4D0;
    border: 5px;
    width: 590px;
    height: 860px;
    border-radius: 20px;

}

.title {
    font-weight: bold;


}

.stem {
    width: 25px;
    height: 150px;
    background-color: #77A88D;
    position: relative;
    margin: auto;
    text-align: center;
    top: 150px;
    z-index: 8;

}

.leaf-1 {
    width: 150px;
    height: 100px;
    float: left;
    background: #77A88D;
    transform: skew(-45deg, 10deg);
    border-radius: 50% 0% 50% 0%;
    position: relative;
    margin-left: 55%;
    top: 85px;

}

.leaf-2 {
    width: 150px;
    height: 100px;
    float: left;
    background: #77A88D;
    transform: skew(45deg, -10deg);
    border-radius: 0% 50% 0% 50%;
    position: relative;
    margin-left: 20%;
    top: -15px;

}



.top {
    width: 450px;
    height: 100px;
    background-color: #FFE384;
    border-radius: 5px 5px 15px 15px;
    position: relative;
    margin: auto;
    text-align: center;
    top: 145px;
    z-index: 9;

}

#box1,
#box2 {
    padding: 10px;
    width: 300px;
    height: 400px;
    background-color: #FFE384;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: auto;
    text-align: center;
    top: 95px;
    text-align: center;


}

#box1.move {
    transition: 2s ease-out;
}

.submit {
    color: white;
    background: #DBA453;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    font-size: 23px;
}

.submit:hover {
    background: #FFCE84;
}

.change {
    margin: 5px;
    color: #a3a2a3;

}

.change:hover {
    color: black;
}

#box2 {
    visibility: hidden;


}
.textbox{
    height: 3em;
    width: 15em;
}
.back{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 87%;
    z-index: 10;


}
.back img{
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.back img:hover{
    transform: skew(-30deg,30deg);
}