body{
	scroll-behavior: smooth;
}
.take {
    text-align: center;
}

.take hr {
    text-align: center;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.take span {
    font-size: 30px;
    font-weight: bold;
    background-color: #F0F0F0;
}

.take img {
    width: 50%;
    margin-top: 40px;
}

.take p {
    margin: 50px;
    font-size: 20px;
}

.con {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 35%;
    padding: 50px;
    text-align: left;
    width: 400px;
    background-color: #F0F0F0;
}

.con li {
    margin: 30px;
}

.taketext {
    color: gray;
    margin: 30px 20%;
    text-align: left;
    font-size: 20px;
    line-height: 1.8;
}